@font-face {
    font-family: paragraphFont;
    src: url('CSS/paragraphFont.woff');
}
@font-face {
    font-family: buttonFont;
    src: url('CSS/buttonFont.woff');
}
p {
    font-family: paragraphFont;
    font-size: 32px;
}
.active {
    
}