@font-face {
    font-family: paragraphFont;
    src: url('paragraphFont.woff');
}
@font-face {
    font-family: buttonFont;
    src: url('buttonFont.woff');
}
p {
    font-family: paragraphFont;
    font-size: 32;
}
.navBar {
    position: fixed;
    overflow: hidden;
}